body {
    border-top: 4px solid #22ac38;
    border-bottom: 4px solid #22ac38;
    margin:0;
    padding:0;
}

header {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.nav {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline-block;
    list-style: none;
    padding:10px;
}

a {
    position:relative;
    display: inline-block;
    text-decoration: none;
    color: #333;
}

a::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #22ac38;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    transition: 0.2s;
    opacity: 0;
}

a:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible; 
}

.title {
    margin-right: auto;
    color: black;
}

img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.background {
    padding: 400px;
    background-image: url(BS-background.png);
    background-repeat: no-repeat;
    border-bottom: 4px solid #f8b500;
}

section {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}

.news dt{
    float: left;
}
  
.news dd{
    margin-left: 80px;
}

h3 {
    color: #22ac38;
    font-weight: bold;
}