body {
    border-top: 4px solid #22ac38;
    border-bottom: 4px solid #22ac38;
    margin:0;
    padding:0;
}

header {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

main {
    overflow: hidden;
}

footer {
    text-align: center;
    background-color:#c9f3cf;
    height: 100px;
}

.nav {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline-block;
    list-style: none;
    padding:10px;
}

.top_tag {
    position:relative;
    display: inline-block;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.news {
    float: right;
    text-decoration: none;
}

.top_tag::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #22ac38;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    transition: 0.2s;
    opacity: 0;
}

.top_tag:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible; 
}

.title {
    margin-right: auto;
    color: black;
}

img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.background {
    padding: 360px;
    background-image: url(BS-background.png);
    background-repeat: no-repeat;
    border-bottom: 4px solid #22ac38;
}

section {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}

.news_main {
    overflow: hidden;
    margin:0 auto;
}

.span_left {
    float: left;
    width: 450px;
    margin-left: 50px;
}

.span_right {
    float: left;
    width: 450px;
    margin-left: 50px;
}

h3 {
    margin-left: 20px;
    color: #f8b500;
}

p {
    font-size: 16px;
}

dl dt {
    float: left;
    padding: 16px 0px;
    border-top: 1px solid #cbbeb7;
}
  
dl dd {
    padding: 16px 0px 16px 120px;
    margin: 0px;
    border-top: 1px solid #cbbeb7;
}

.row {
    overflow: hidden;
    margin:0 auto;
    width: 75%;
}

.news_bottom {
    border-bottom: 1px solid #cbbeb7;
}

ul.footer-menu li {
    display: inline;
    }