body {
    text-align: center;
    border-top: 4px solid #22ac38;
    margin:0;
    padding:0;
}

header {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.nav {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline-block;
    list-style: none;
    padding:10px;
}

a {
    position:relative;
    display: inline-block;
    text-decoration: none;
    color: #333;
}

a::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #22ac38;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    transition: 0.2s;
    opacity: 0;
}

a:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible; 
}

.title {
    margin-right: auto;
    color: black;
}

img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #ccc;
    background-color: #4676D7;
    color:#fff;
    padding :8px 16px;
    font-size: 16px;
    min-width: 100px;
}

button:hover {
    background-color: #1d49aa;
}

button:focus {
    outline: none;
}

section {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    background-image: url(BS-background.png);
    
}

